.container {
  display: flex;
  flex-direction: column;
  height: 300px;
  padding: 10px;
  background-color: #f0f0f0;
  border-top: 1px solid #ccc;
}

.sideContainer {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  margin-bottom: 10px;
}

.avatarContainer {
  position: relative;
  display: flex;
  height: 2rem;
  width: 2rem;
  align-items: center;
  justify-content: center;
  border-radius: 9999px;
  border-width: 2px;
  background-color: white;
  font-size: 0.75rem;
}

.typingIndicator {
  position: absolute;
  right: -0.25rem;
  bottom: 0;
  border-radius: 0.125rem;
  background-color: black;
  padding-left: 0.25rem;
  padding-right: 0.25rem;
  line-height: 0.75rem;
  color: white;
  font-size: 0.625rem;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
}

.mainContainer {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: flex-end;
}

.chatMessages {
  flex: 1;
  overflow-y: auto;
  margin-bottom: 10px;
}

.message {
  padding: 5px 10px;
  margin-bottom: 5px;
  border-radius: 10px;
  max-width: 80%;
}

.myMessage {
  align-self: flex-end;
  background-color: #dcf8c6;
}

.otherMessage {
  align-self: flex-start;
  background-color: #ffffff;
}

.textarea {
  width: 100%;
  border-radius: 0.375rem;
  border: 1px solid #d1d5db;
  padding: 0.5rem;
  font-size: 0.875rem;
  resize: none;
  height: 80px;
}

.typingInfo {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 0.75rem;
  color: #6b7280;
  margin-top: 0.25rem;
}
